<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <RollingFile name="BatchFile" fileName="/batchlogs/dcf/ifnet/batch-application.log"
                     filePattern="/batchlogs/dcf/ifnet/batch-application-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="30"/>
        </RollingFile>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="WARN">
            <AppenderRef ref="BatchFile"/>
            <AppenderRef ref="Console"/>
        </Root>

        <Logger name="gov.mass.dcf.batch" level="info" additivity="false">
            <AppenderRef ref="BatchFile"/>
            <AppenderRef ref="Console"/>
        </Logger>
    </Loggers>
</Configuration>
